.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #45474b;
  text-align: center;
  margin: 0;
}

.header {
  padding: 20px;
  background-color: #45474b;
  color: white;
  width: 100%;
}

.logo {
  margin: 0 auto;
  width: 120px;
  height: auto;
}

.title {
  font-size: 2.5rem;
  font-weight: 450;
  margin: 20px 0;
}

.description {
  font-size: 1.2rem;
  font-weight: 300px;
  margin: 10px 0 30px;
}

.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.navLink {
  padding: 10px 20px;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  background-color: #ddba0e;
  transition: all 0.3s ease;
}

.navLink:hover {
  background-color: #b8970d;
  transform: scale(1.1);
}

.companiesSection {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.companiesTitle {
  font-size: 1.55rem;
  font-weight: 400;
  color: white;
  margin-bottom: 20px;
}

.companiesGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.companyCard {
  width: 120px;
  height: 120px;
  perspective: 1000px;
} 


.fadeIn {
  opacity: 1;
  transform: translateX(0);
}


.flipCard {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%;
  overflow: hidden;
}

.flipCardFront {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ddd;
}

.flipCardBack {
  background-color: #ddba0e;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.companyLogo {
  width: 100%;
  height: auto;
}

.companyName {
  font-size: 1rem;
  margin: 10px 0;
}

.companyService {
  font-size: 0.9rem;
}
