.page {
    display: flex;
    flex-direction: column;
    height: 100%; 
  overflow: hidden; 
}

.mainArea {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: #e4e2e2;
}


