.container {
    width: 28vw;
    min-height: 40vh;
    margin: 50px auto;
    padding: 25px;
    text-align: center;
    border: 2px solid #ddba0e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    z-index: 3;
    position: fixed;
    top:25vh;
    left: 36vw;
  }

  .title {
    margin-bottom: 1vh;
    margin-top: 1vh;
    font-size: 24px;
    color: #ddba0e;
  }

  .inputContainer {
    margin-bottom: 20px;
  }

  .input {
    width: 80%;
    padding: 10px;
    margin-top: 3vh;
    border: 1px solid #e0dddd;
    background-color: #e0dddd;
    border-radius: 5px;
    font-size: 16px;
    text-align: right;
  }

  .submitButton {
    width: 80%;
    padding: 10px;
    background-color: #ddba0e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
   
  }

  .submitButton:hover{
    background-color: #ddbb0ec7;
  }

  .send_email_title{
    margin-top: 4vh;
    color:#45474b ;

  }

  .titles{
    margin-top: 1vh;
    margin-bottom: 0;
    color:#45474b ;
  }

  .inputs{
    width: 80%;
    padding: 10px;
    border: 1px solid #e0dddd;
    background-color: #e0dddd;
    border-radius: 5px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 2vh;
  }

  .loading_dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 4;
  }
  
  .dot {
    margin-top: 2vh;
    width: 2vw;
    height: 2vw;
    background-color: #ddbb0ec7;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes pulse {
    0%, 80%, 100% {
      transform: scale(0);
      opacity: 0.5;
    }
    40% {
      transform: scale(1);
      opacity: 1;
    }
  }