/* ProfilePopup.module.css */
.popup {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    width: 300px;
    max-width: 80vw;
    height: auto;
    box-shadow: 2px 2px 2px 2px #a3a4a7;
}

.profilePicture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-self: center;
}

.cameraIcon {
    cursor: pointer;

}

.popupContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    min-width: 250px;
    padding: 10px;
    margin-bottom: 3vh;
    border: 1px solid #e0dddd;
    background-color: #e0dddd;
    border-radius: 5px;
    font-size: 14px;
    text-align: right;
}

.popup h2 {
    text-align: center;
}

.closeButton {
    align-self: flex-start;
    background-color: white;
    color: white;
    padding: 5px;
    border-radius: 50%;
    font-size: 17px;
    cursor: pointer;
    border: none;
}

.x{
    color: #ddba0e;
    font-size: large;
}

.closeButton:hover {
    background-color: #45474b;
}

.saveButton {
    padding: 10px;
    background-color: #ddba0e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.saveButton:hover {
    background-color: #45474b;
}

.error {
    color: #d93025; 
    font-size: 14px;
    font-weight: bold;
  }