.mainChat {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 75%;
    background-color: white;
    border-radius: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
}

.mainChatNone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 75%;
    background-color: white;
    border-radius: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
}

.minimized {
    height: 400px;
    width: 320px;
    overflow: hidden;
    bottom: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 15px 15px 0 0;
}

.rightButtons {
    display: flex;
    gap: 10px;
}

.closeButton,
.minimizeButton,
.detailsIcon {
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
    position: relative;
    font-size: 14px;
}

.detailsIcon::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1001;
}

.chatMessages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
    max-height: calc(100% - 100px);
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.userMessage {
    align-self: flex-end;
    color: #45474b;
    background-color: #e0dddd;
}

.otherMessage {
    align-self: flex-start;
    color: white;
    background-color: #45474b;
}

.messageTime {
    font-size: 0.8rem;
    color: #787474;
    margin-bottom: 5px;
}

.messageText {
    font-size: 1rem;
    margin: 0;
}


.hamburger:hover::after {
    opacity: 1;
    visibility: visible;
}

.messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.inputField {
    flex: 1;
    border-radius: 15px;
    border: none;
}

.sendingBar {
    display: flex;
    justify-content: right;
    padding: 0 20px;
    padding: 10px;
    gap: 10px;
    border-top: 1px solid #ccc;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.sendingBar[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 85%;
}

.sendButton {
    font-size: larger;
    background-color: white;
    color: #ddba0e;
    border: none;
    cursor: pointer;
}

.endButton {
    font-size: larger;
    background-color: white;
    color: #ba1f1f;
    border: none;
    cursor: pointer;
}

.detailsButton {
    padding: 10px 20px;
    background-color: #ddba0e;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;

}