/* Footer.module.css */
.footer {
    background-color: #46474B;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .footerContent {
    text-align: center;
    max-width: 1200px;
    width: 100%;
  }
  
  .logo img {
    width: 130px;
  }

  .developers{
    margin-bottom: 15px;
    color: #ddba0e;
  }
  
  .policy {
    margin-bottom: 15px;
    color: #fff;

  }
  
  .policyLink {
    text-decoration: none;
    font-size: 14px;
    margin: 0 10px;
  }
  
  .policyLink:hover {
    text-decoration: underline;
  }
  
  .socialIcons a {
    margin: 0 15px;
    color: white;
    font-size: 18px;
  }
  
  .socialIcons a:hover {
    color: #ddd;
  }
  