.page {
  height: 90vh;
  width: 100%;
  background-color: #ddba0e;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  position: absolute;
  z-index: 2;

}

.navLink {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none; 
  color: #45474b; 
  padding: 10px 15px;
  border: 2px solid transparent; 
  border-radius: 5px;
  transition: all 0.3s ease; 
}

.navLink:hover {
  background-color: #45474b; 
  color: #fff; 
  border: 2px solid #616265; 
  transform: scale(1.1); 
}


.logo {
  max-width: 170px;
}
.spinner {
  position: absolute;
  height: 470px;
  width: 470px;
  animation: spin 7s linear infinite;
  z-index: 1;
}

.text {
  font-size: 50px;
  color: black;
  z-index: 2; 
  
}


  @keyframes spin {
    50% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(360deg);
    }
  }

