.page {
  height: 90vh;
  width: 100%;
  background-color: #ddba0e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  position: relative;
  overflow: hidden;
  position: absolute;
  z-index: 2;

}

.container {
  height: 100vh;
  position: relative;

}


.logo {
  max-width: 170px;
}

.spinner {
  position: absolute;
  height: 470px;
  width: 470px;
  animation: spin 7s linear infinite;
  z-index: 1;
}

.text {
  font-size: 50px;
  color: black;
  z-index: 2; 
  
}


  @keyframes spin {
    50% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(360deg);
    }
  }

