.page {
  height: 90vh;
  width: 100%;
  background-color: #ddba0e;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  position: relative;
  overflow: hidden;
  position: absolute;
  z-index: 2;

}

.container {
  height: 100vh;
  position: relative;

}


.logo {
  max-width: 170px;
}

.spinner {
  position: absolute;
  height: 380px;
  width: 380px;
  border: 8px solid #ffffff;
  border-top: 8px solid #45474b;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.text {
  font-size: 60px;
  color: #45474b;
  z-index: 2; 
  position: absolute;
}


  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }