.sideBar {
    background-color: white ;
    border: none;
    border-radius:10px ;
    width: 23%;
    border-radius: 15px;
    margin: 20px;
}
.inputs {
    display: flex;
    flex-direction: column; /* Stack the inputs vertically */
    gap: 15px; /* Space between inputs */
    margin-bottom: 20px; /* Space below the input section */
    align-items: center;
    padding-top: 2rem;
  }
.input {
    padding: 10px 15px; /* Inner spacing for better usability */
    border:none; /* Light gray border */
    border-radius: 20px; /* Circular edges */
    background-color: #e0dddd; /* Gray background color for the inputs */
    font-size: 16px; /* Comfortable font size */
    color:black; /* Darker text for contrast */
    outline: none; /* Remove the default blue border on focus */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth hover/focus transitions */
    direction: rtl;
    width: 17rem;
    height: 3rem;
  }
  
  .input::placeholder {
    color: #888; /* Light gray placeholder text */
    font-style: italic; /* Optional: italic style for placeholder */
  }
  .yourChatsP{
    direction: rtl;
    align-self: center;
  }
  .conversationItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    border: 2px solid transparent; /* Set border to transparent initially */
  }
  .conversationItem:hover {
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: yellow; /* Add yellow border on hover */
  }
  
  .profileCircle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black; /* Black background for the circle */
    display: flex;
    align-items: center;
    justify-content: center;
  }  